a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_33793bb5 a { text-decoration: none; }
#menu_33793bb5_pane { background-color: #FAFAF8; border: 1px solid #FAFAF8; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_33793bb5_hr { background-color: #FAFAF8; height: 1px; border: none; }
#menu_33793bb5_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_33793bb5_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_33793bb5_entry:hover span { color:#FFFFFF !important; }
		.menu_33793bb5_mainMenuEntry { text-align: center; }
		.menu_33793bb5_mainMenuEntry:hover {	background-color:#282828; }
		.menu_33793bb5_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_33793bb5 .mobileEntry { display: none; } 
		#menu_33793bb5 .normalEntry { display: block; } 
		#menu_33793bb5_menualignmentwrapper{ width:250px; left: calc(50% - 125px);  } 
		@media only screen and (max-width:600px) { 
			#menu_33793bb5 .mobileEntry { display: block; } 
			#menu_33793bb5 .normalEntry { display: none; } 
			#menu_33793bb5_menualignmentwrapper { width:36px; left: calc(50% - 18px);  } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_4466483b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:228px; background-color:#FAFAF8; background-image: url(rc_images/gold_leafs_1400x787.png); background-position:center center; background-size:cover;  }
#container_4466483b_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#img_5263dfac { vertical-align: bottom; position:relative; display: inline-block; width:28%; min-width:200px; background:none; height:auto;  }
#container_12d1eed0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:99px; background-color:#FAFAF8;  }
#container_12d1eed0_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:18pt; font-family:Corbel, Avenir, Montserrat, 'URW Gothic', source-sans-pro, sans-serif; color:#DDCA97; font-weight:bold;  }
.textstyle4 { font-size:14pt; font-family:Corbel, Avenir, Montserrat, 'URW Gothic', source-sans-pro, sans-serif; color:#000000; font-weight:bold;  }
#container_5616e585 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:46px; background:none;  }
#container_5616e585_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:12pt; font-family:Corbel, Avenir, Montserrat, 'URW Gothic', source-sans-pro, sans-serif; color:#000000;  }
#container_53e9a3ab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:44px; background:none;  }
#container_53e9a3ab_padding { margin: 10px; display: block;  }
#button_52fa8e25 { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:491px; height:40px; max-width:220px; background-color:#DDCA97; border: 0px solid #404040;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_7d35d100 { box-sizing: border-box; vertical-align: top; border-radius: 40px; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border-top: 1px solid #2F2F2F; border-left: none; border-right: none; border-bottom: none;  }
#container_7d35d100_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:Corbel, Avenir, Montserrat, 'URW Gothic', source-sans-pro, sans-serif; color:#DDCA97; font-weight:bold;  }
#menu_33793bb5 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none;  }
#menu_33793bb5_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:36px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle8 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:250px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:20px;  }
.textstyle9 { font-size:12pt; font-family:Corbel, Avenir, Montserrat, 'URW Gothic', source-sans-pro, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
